<!DOCTYPE html>
<html>

<head>
  <title>Tietokohteen poistaminen</title>
</head>

<body>
   <h1>Tietokohteen poistaminen</h1> 
  <form action="/delete_item/{{  item.id  }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <p>Valittu: {{ item.enemy_name }}</p>
    <p>Haluatko varmasti poistaa tämän tietokohteen ikuisesti?</p>
    <input type="submit" name="delete" value="Kyllä">
    <input type="submit" name="back" value="En">
  </form>
</body>

</html>